# Determinig names of our actors and actresses

In [23]:
## Standard stuff:
import numpy as np, seaborn as sns, pandas as pd
## For text classification:
import nltk, nltk.sentiment, sklearn
%matplotlib inline
import random 
from nltk.corpus import names 
import nltk 
import random
import pandas as pd

In [24]:
df = pd.read_csv('movie.csv')

In [25]:
from nltk.tokenize import TweetTokenizer 

token = nltk.tokenize.TweetTokenizer()

def preprocessing(string): 
    v1 = string.lower()
    v2 = token.tokenize(v1)
    
    return v2

def preprocessing_full(string): 
    v1 = string.lower()
    v2 = v1[:-2].strip()
    return v2

In [26]:
#nltk.download('names')
#name = nltk.corpus.names

#name.fileids()

In [27]:
#female_names = name.words('female.txt')
#male_names = name.words('male.txt')


#female = set([x.lower() for x in female_names])
#male = set([x.lower() for x in male_names])

#test = []
#for i in range(10000): 
#    if (df['female'] ==1 & df['male'] == 1) & (df['Female actor'] == 'Nan') & df['Male actor'] == 1: 
#        v1 = 'M'
#if df['female'] == 0 & df['male'] == 1 & df['Female actor'] == 'Nan' & df['Male actor'] == 1: 
#        v1 = 'M'
#    v1 = df['female'][i] != df['Female actor'][i]
#    test.append(v1)

# Reading and converting female first names

In [28]:
with open('all_female.txt') as f:
    actresses = f.read()
    
all_female= [] 
for i in range(0,5127): 
    if i == 0: 
        v1 = actresses.split(',')[i].strip()[2:-1]
        all_female.append(v1)
    else: 
        v2 = actresses.split(',')[i].strip()[1:-1]
        all_female.append(v2)

In [29]:
female = [x.lower() for x in all_female]

female_set = set(female)
print(len(female_set))
len(female)

5124

5127

## Reading and converting full female actress names

In [30]:
with open('female_name.txt') as f:
    female_full_name = f.read()
    
actresses_fn = [] 
for i in range(0,606): 
    if i == 0: 
        v1 = female_full_name.split(',')[i].strip()[2:-1]
        actresses_fn.append(v1)
    else: 
        v2 = female_full_name.split(',')[i].strip()[1:-1]
        actresses_fn.append(v2)

In [31]:
actresses = [x.lower() for x in actresses_fn]

actresses_set = set(actresses)
print(len(actresses_set))
len(actresses)

605

606

# Reading and converting male names

In [32]:
with open('all_male.txt') as f:
    actors = f.read()
    
all_male= [] 
for i in range(0,3049): 
    if i == 0: 
        v1 = actors.split(',')[i].strip()[2:-1]
        all_male.append(v1)
    else: 
        v2 = actors.split(',')[i].strip()[1:-1]
        all_male.append(v2)

In [33]:
male = [x.lower() for x in all_male]
male_set = set(male)

## Reading and converting full male actors names

In [34]:
with open('male_name.txt') as f:
    male_full_name = f.read()
    
actors_fn = [] 
for i in range(0,606): 
    if i == 0: 
        v1 = male_full_name.split(',')[i].strip()[2:-1]
        actors_fn.append(v1)
    else: 
        v2 = male_full_name.split(',')[i].strip()[1:-1]
        actors_fn.append(v2)

In [35]:
actors = [x.lower() for x in actors_fn]

actors_set = set(actors)
print(len(actors_set))
actors.index('tim robbins')

604

40

In [36]:
data = df['Top Star'].apply(preprocessing)
data1 = df['Top Star'].apply(preprocessing_full)
data1.head()

data1.loc[0]

'tim robbins'

In [37]:
def count_dictionary(document, dictonary):
    filtered_doc = [x for x in document if x in dictonary]
    return len(filtered_doc)#, filtered_doc

In [38]:
#df['female'] = data.apply(count_dictionary, dictonary = female_set)
#df['male'] = data.apply(count_dictionary, dictonary = male_set)
#df['female_2'] =data1.apply(count_dictionary, dictonary = actresses_set)
#df['male_2'] =data1.apply(count_dictionary, dictonary = actors_set)

# LOOKS UP IF NAME IN DF IS ON FULL NAME ACTORS LIST 
male_actor = []
for i in range(10000): 
    if (data1.loc[i] in actors): 
        v1 = 1
        male_actor.append(v1)
    else: 
        v2 = 0
        male_actor.append(v2)
        
df['Male_actor'] = pd.DataFrame(male_actor)

# LOOKS UP IF NAME IN DF IS ON FULL NAME ACTORESS LIST 
female_actor = []
for i in range(10000): 
    if (data1.loc[i] in actresses): 
        v1 = 1
        female_actor.append(v1)
    else: 
        v2 = 0
        female_actor.append(v2)
        
df['Female_actor'] = pd.DataFrame(female_actor)

In [39]:
df.head(1)

,Unnamed: 0,Title,Year,Genre,Rating,Gross,Director,Summary,Top Star,Star 2,Star 3,Star 4,Male_actor,Female_actor
0,0,En verden udenfor,1994,Drama,9.3,$28.34M,Frank Darabont,Two imprisoned men bond over a number of years...,"Tim Robbins,","Morgan Freeman,","Bob Gunton,",William Sadler,1,0

In [40]:
# MAKES A COLUMN THAT INDICATES WETHER A GENDER HAS BEEN ASSIGNED 
df['test'] = df.apply(lambda row: row.Female_actor + row.Male_actor, axis=1)
# IF 'test'==0 NO GENDER HAS BEEN ASSIGNED 
df.loc[df.test ==0, 'test'].count()

5190

In [44]:
df.head(1)

,Unnamed: 0,Title,Year,Genre,Rating,Gross,Director,Summary,Top Star,Star 2,Star 3,Star 4,Male_actor,Female_actor,test
0,0,En verden udenfor,1994,Drama,9.3,$28.34M,Frank Darabont,Two imprisoned men bond over a number of years...,"Tim Robbins,","Morgan Freeman,","Bob Gunton,",William Sadler,1,0,1

In [45]:
#SELECTING THE ROWS THAT ARE NOT YET ASSIGNED A GENDER
df_ng = df.loc[(df['test'] == 0)]
df_ng

#ASSIGNS GENDER TO THESE ROWS
df_ng['female'] = data.apply(count_dictionary, dictonary = female_set)
df_ng['male'] = data.apply(count_dictionary, dictonary = male_set)

#GENERATES LISTS THAT INDICATE HOW MANY ROWS HAVE NOT BEEN ASSIGNED GENDER 
#OR HAS BEEN A ASSIGNED MULTIPLE GENDERS
sure_male = df_ng.loc[(df_ng['female']==0) & (df_ng['male']>=1)]
sure_female = df_ng.loc[(df_ng['female']>=1)&(df_ng['male']==0)]
neutral_gender = df_ng.loc[(df_ng['female']>=1)&(df_ng['male']>=1)]
no_gender = df_ng.loc[(df_ng['female']==0)&(df_ng['male']==0)]

print(sure_male['male'].count()) #NUMBER OG ROWS THAT ARE UNIQUELY IDENTIFIED AS MALE
print(sure_female['male'].count()) #NUMBER OG ROWS THAT ARE UNIQUELY IDENTIFIED AS FEMALE
print(neutral_gender['male'].count()) #NUMBER OG ROWS THAT ARE IDENTIFIED AS BOTH MALE AND FEMALE
print(no_gender['male'].count()) #NUMBER OG ROWS WITH NO ASSIGNED GENDER

2134
636
1069
1351

/Users/josefinebjornholm/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/josefinebjornholm/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [46]:
#DEFINE DATAFRAME WITH ONLY THE OBSERVATIONS THAT WERE IDENTIFYED BY FULL NAME 
df_true = df.drop(df[df.test == 0].index)

len(df_true)

4810

In [148]:
import pandas as pd
import matplotlib.pyplot as plt
from cycler import cycler
import numpy as np

#GENERATE DATASET WITH ONLY FEMALES AND YEAR 

#year_male = df_gender.groupby(['Year'])['Male_actor'].size()
year_female = df_true.groupby(['Female_actor', 'Year']).size()#.drop(df_true[df_true.Female_actor == 0].index)
#year_female1 = df.drop(df[df.Female_actor==0].index)
                               #'Rating', 'Gross', 'Director','Summary', /
                               #'Top Star', 'Star 2', 'Star 3', 'Star 4']
male = year_female[0]
female = year_female[1]
f = pd.DataFrame(f)
m = pd.DataFrame(m)

merge = pd.merge(f,m, on = 'Year')
merge.columns = [['female','male']]

data = merge.iloc[:4]
data2 = data.reset_index()

df = data2.drop(data2['Year'], axis = 1)

In [141]:
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import rc
import pandas as pd

# Data
r = [0,1,2,3,4]
#raw_data = {'PFHxA': [20, 1.5, 7, 10, 5], \
#        'PFHpA': [5, 15, 5, 10, 15], \
#        'PFOA': [2, 15, 18, 5, 10], \
#        'PFNA': [2, 15, 18, 5, 10], \
#        'PFDA': [2, 15, 18, 5, 10], \
#        'PFUnDA': [2, 15, 18, 5, 10], \
#        'PFHxS': [2, 15, 18, 5, 10], \
#        'PFOS': [2, 15, 18, 5, 10]}
#df = pd.DataFrame(raw_data)

# From raw value to percentage
totals = [i+j for i,j in zip(df['female'], 
df['male'])]
female = [i / j * 100 for i,j in zip(df['female'], totals)]
male = [i / j * 100 for i,j in zip(df['male'], totals)]
# plot
barWidth = 0.85
names = ('1980','1981','1982','1983','1984')
# Create PFHxA Bars
plt.bar(r, PFHxA, color='#A20101', edgecolor='white', width=barWidth, 
label="PFHxA")
# Create PFHpA Bars
plt.bar(r, PFHpA, bottom=PFHxA, color='#F44E54', edgecolor='white', 
width=barWidth, label="PFHpA")
# Create PFOA Bars
plt.bar(r, PFOA, bottom=[i+j for i,j in zip(PFHxA, PFHpA)], color='#FF9904', 
edgecolor='white', width=barWidth, label="PFOA")
# Create PFNA Bars
plt.bar(r, PFNA, bottom=[i+j+k for i,j,k in zip(PFHxA, PFHpA, PFOA)], 
color='#FDDB5E', edgecolor='white', width=barWidth, label="PFNA")
# Create PFDA Bars
plt.bar(r, PFDA, bottom=[i+j+k+l for i,j,k,l in zip(PFHxA, PFHpA, PFOA, 
PFNA)], color='#BAF1A1', edgecolor='white', width=barWidth, label="PFDA")
# Create PFUnDA Bars
plt.bar(r, PFUnDA, bottom=[i+j+k+l+m for i,j,k,l,m in zip(PFHxA, PFHpA, 
PFOA, PFNA, PFDA)], color='#76AD3B', edgecolor='white', width=barWidth, 
label="PFUnDA")
# Create PFHxS Bars
plt.bar(r, PFHxS, bottom=[i+j+k+l+m+n for i,j,k,l,m,n in zip(PFHxA, PFHpA, 
PFOA, PFNA, PFDA, PFUnDA)], color='#0A709A', edgecolor='white', 
width=barWidth, label="PFHxS")
# Create PFOS Bars
plt.bar(r, PFOS, bottom=[i+j+k+l+m+n+o for i,j,k,l,m,n,o in zip(PFHxA, 
PFHpA, PFOA, PFNA, PFDA, PFUnDA, PFHxS)], color='#5E3F99', 
edgecolor='white', width=barWidth, label="PFOS")


# Custom x axis
plt.xticks(r, names)
plt.xlabel("Sample ID")

# Custom y axis
plt.ylabel("Mass percentage")

# Add a legend
plt.legend(loc='upper left', bbox_to_anchor=(1,1), ncol=1)

# Show graphic
plt.show()

TypeError: unsupported operand type(s) for /: 'tuple' and 'tuple'

In [105]:
print(df)
print(d)

   PFHxA  PFHpA  PFOA  PFNA  PFDA  PFUnDA  PFHxS  PFOS
0   20.0      5     2     2     2       2      2     2
1    1.5     15    15    15    15      15     15    15
2    7.0      5    18    18    18      18     18    18
3   10.0     10     5     5     5       5      5     5
4    5.0     15    10    10    10      10     10    10
  female male
0      8   35
1      5   29
2      7   34
3      7   40

In [320]:
df_gender

,Unnamed: 0,Title,Year,Genre,Rating,Gross,Director,Summary,Top Star,Star 2,Star 3,Star 4,Male_actor,Female_actor,test,Male,Female
17,17,Ondskabens øjne,1991,"Crime, Drama, Thriller",8.6,$130.74M,Jonathan Demme,A young F.B.I. cadet must receive the help of ...,"Jodie Foster,","Anthony Hopkins,","Lawrence A. Bonney,",Kasi Lemmons,0,1,1,NaN,NaN
40,40,Kill Bill: Vol. 1,2003,"Action, Crime, Thriller",8.1,$70.10M,Quentin Tarantino,"After awakening from a four-year coma, a forme...","Uma Thurman,","David Carradine,","Daryl Hannah,",Michael Madsen,0,1,1,NaN,NaN
55,55,The Hunger Games,2012,"Action, Adventure, Sci-Fi",7.2,$408.01M,Gary Ross,Katniss Everdeen voluntarily takes her younger...,"Jennifer Lawrence,","Josh Hutcherson,","Liam Hemsworth,",Stanley Tucci,0,1,1,NaN,NaN
72,72,Gravity,2013,"Drama, Sci-Fi, Thriller",7.7,$274.09M,Alfonso Cuarón,Two astronauts work together to survive after ...,"Sandra Bullock,","George Clooney,","Ed Harris,",Orto Ignatiussen,0,1,1,NaN,NaN
73,73,Requiem for a Dream,2000,Drama,8.3,$3.64M,Darren Aronofsky,The drug-induced utopias of four Coney Island ...,"Ellen Burstyn,","Jared Leto,","Jennifer Connelly,",Marlon Wayans,0,1,1,NaN,NaN
92,92,Den fabelagtige Amélie fra Montmartre,2001,"Comedy, Romance",8.3,$33.23M,Jean-Pierre Jeunet,Amélie is an innocent and naive girl in Paris ...,"Audrey Tautou,","Mathieu Kassovitz,","Rufus,",Lorella Cravotta,0,1,1,NaN,NaN
93,93,Black Swan,2010,"Drama, Thriller",8.0,$106.95M,Darren Aronofsky,A committed dancer struggles to maintain her s...,"Natalie Portman,","Mila Kunis,","Vincent Cassel,",Winona Ryder,0,1,1,NaN,NaN
108,108,Kill Bill: Vol. 2,2004,"Action, Crime, Thriller",8.0,$66.21M,Quentin Tarantino,The Bride continues her quest of vengeance aga...,"Uma Thurman,","David Carradine,","Michael Madsen,",Daryl Hannah,0,1,1,NaN,NaN
115,115,Aliens - det endelige opgør,1986,"Action, Adventure, Sci-Fi",8.4,$85.16M,James Cameron,Ellen Ripley is rescued by a deep salvage team...,"Sigourney Weaver,","Michael Biehn,","Carrie Henn,",Paul Reiser,0,1,1,NaN,NaN
120,120,Million Dollar Baby,2004,"Drama, Sport",8.1,$100.49M,Clint Eastwood,A determined woman works with a hardened boxin...,"Hilary Swank,","Clint Eastwood,","Morgan Freeman,",Jay Baruchel,0,1,1,NaN,NaN
126,126,The Hunger Games: Catching Fire,2013,"Action, Adventure, Sci-Fi",7.5,$424.67M,Francis Lawrence,Katniss Everdeen and Peeta Mellark become targ...,"Jennifer Lawrence,","Josh Hutcherson,","Liam Hemsworth,",Philip Seymour Hoffman,0,1,1,NaN,NaN
127,127,Pans labyrint,2006,"Drama, Fantasy, War",8.2,$37.63M,Guillermo del Toro,"In the Falangist Spain of 1944, the bookish yo...","Ivana Baquero,","Ariadna Gil,","Sergi López,",Maribel Verdú,0,1,1,NaN,NaN
152,152,Prometheus,2012,"Adventure, Mystery, Sci-Fi",7.0,$126.48M,Ridley Scott,"Following clues to the origin of mankind, a te...","Noomi Rapace,","Logan Marshall-Green,","Michael Fassbender,",Charlize Theron,0,1,1,NaN,NaN
167,167,Arrival,2016,"Drama, Mystery, Sci-Fi",7.9,$100.55M,Denis Villeneuve,A linguist works with the military to communic...,"Amy Adams,","Jeremy Renner,","Forest Whitaker,",Michael Stuhlbarg,0,1,1,NaN,NaN
184,184,Rogue One: A Star Wars Story,2016,"Action, Adventure, Sci-Fi",7.8,$532.18M,Gareth Edwards,The daughter of an Imperial scientist joins th...,"Felicity Jones,","Diego Luna,","Alan Tudyk,",Donnie Yen,0,1,1,NaN,NaN
190,190,The Notebook,2004,"Drama, Romance",7.8,$81.00M,Nick Cassavetes,A poor yet passionate young man falls in love ...,"Gena Rowlands,","James Garner,","Rachel McAdams,",Ryan Gosling,0,1,1,NaN,NaN
191,191,Manden uden navn,2002,"Action, Mystery, Thriller",7.9,$121.66M,Doug Liman,"A man is picked up by a fishing boat, bullet-r...","Franka Potente,","Matt Damon,","Chris Cooper,",Clive Owen,0,1,1,NaN,NaN
203,203,Juno,2007,"Comedy, Drama",7.4,$143.50M,Jason Reitman,"Faced with an unplanned pregnancy, an offbeat ...","Ellen Page,","Michael Cera,","Jennifer Garner,",Jason Bateman,0,1,1,NaN,NaN
221,221,(500) Days of Summer,2009,"Comedy, Drama, Romance",7.7,$32.39M,Marc Webb,An offbeat romantic comedy about a woman who d...,"Zooey Deschanel,","Joseph Gordon-Levitt,","Geoffrey Arend,",Chloë Grace Moretz,0,1,1,NaN,NaN
230,230,Children of Men,2006,"Drama, Sci-Fi, Thriller",7.9,$35.55M,Alfonso Cuarón,"In 2027, in a chaotic world in which women hav...","Julianne Moore,","Clive Owen,","Chiwetel Ejiofor,",Michael Caine,0,1,1,NaN,NaN
233,233,Ex Machina,2014,"Drama, Mystery, Sci-Fi",7.7,$25.44M,Alex Garland,A young programmer is selected to participate ...,"Alicia Vikander,","Domhnall Gleeson,","Oscar Isaac,",Sonoya Mizuno,0,1,1,NaN,NaN
255,255,Lucy,2014,"Action, Sci-Fi, Thriller",6.4,$126.66M,Luc Besson,"A woman, accidentally caught in a dark deal, t...","Scarlett Johansson,","Morgan Freeman,","Min-sik Choi,",Amr Waked,0,1,1,NaN,NaN
261,261,Divergent,2014,"Action, Adventure, Mystery",6.7,$150.95M,Neil Burger,In a world divided by factions based on virtue...,"Shailene Woodley,","Theo James,","Kate Winslet,",Jai Courtney,0,1,1,NaN,NaN
266,266,Twilight,2008,"Drama, Fantasy, Romance",5.2,$191.47M,Catherine Hardwicke,Bella Swan moves to Forks and encounters Edwar...,"Kristen Stewart,","Robert Pattinson,","Billy Burke,",Sarah Clarke,0,1,1,NaN,NaN
270,270,Niceville,2011,Drama,8.1,$169.71M,Tate Taylor,An aspiring author during the civil rights mov...,"Emma Stone,","Viola Davis,","Octavia Spencer,",Bryce Dallas Howard,0,1,1,NaN,NaN
289,289,The Hunger Games: Mockingjay - del 1,2014,"Action, Adventure, Sci-Fi",6.6,$337.14M,Francis Lawrence,Katniss Everdeen is in District 13 after she s...,"Jennifer Lawrence,","Josh Hutcherson,","Liam Hemsworth,",Woody Harrelson,0,1,1,NaN,NaN
307,307,King Kong,2005,"Action, Adventure, Drama",7.2,$218.08M,Peter Jackson,A greedy film producer assembles a team of mov...,"Naomi Watts,","Jack Black,","Adrien Brody,",Thomas Kretschmann,0,1,1,NaN,NaN
322,322,Alice i Eventyrland,2010,"Adventure, Family, Fantasy",6.4,$334.19M,Tim Burton,Nineteen-year-old Alice returns to the magical...,"Mia Wasikowska,","Johnny Depp,","Helena Bonham Carter,",Anne Hathaway,0,1,1,NaN,NaN
330,330,"Three Billboards Outside Ebbing, Missouri",2017,"Crime, Drama",8.2,$54.51M,Martin McDonagh,A mother personally challenges the local autho...,"Frances McDormand,","Woody Harrelson,","Sam Rockwell,",Caleb Landry Jones,0,1,1,NaN,NaN
341,341,Captain Marvel,2019,"Action, Adventure, Sci-Fi",7.0,$426.83M,"['Anna Boden, ', 'Ryan Fleck']",Carol Danvers becomes one of the universe's mo...,"Brie Larson,","Samuel L. Jackson,","Ben Mendelsohn,",Jude Law,0,1,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9613,9613,Hulebjørnens klan,1986,"Adventure, Drama, Fantasy",5.4,$1.95M,Michael Chapman,A young Cro-Magnon woman is raised by Neandert...,"Daryl Hannah,","Pamela Reed,","James Remar,",Thomas G. Waites,0,1,1,NaN,NaN
9632,9632,Hounddog,2007,"Drama, Music",6.3,$0.13M,Deborah Kampmeier,"A drama set in the American South, where a pre...","Dakota Fanning,","David Morse,","Piper Laurie,",Granoldo Frazier,0,1,1,NaN,NaN
9648,9648,Submergence,2017,"Drama, Romance, Thriller",5.4,NaN,Wim Wenders,In a room with no windows on the eastern coast...,"Alicia Vikander,","Celyn Jones,","Jannik Schümann,",Jean-Pierre Lorit,0,1,1,NaN,NaN
9678,9678,Jing Ke ci Qin Wang,1998,"Drama, History, Romance",7.2,$1.33M,Kaige Chen,"In pre-unified China, the King of Qin sends hi...","Li Gong,","Fengyi Zhang,","Zhou Sun,",Xiaohe Lü,0,1,1,NaN,NaN
9708,9708,En kvinde i Berlin,2008,"Biography, Drama, History",7.1,$0.29M,Max Färberböck,A woman tries to survive the invasion of Berli...,"Nina Hoss,","Evgeniy Sidikhin,","Irm Hermann,",Rüdiger Vogler,0,1,1,NaN,NaN
9734,9734,Vores livs ferie,2017,"Adventure, Comedy, Drama",6.7,$3.23M,Paolo Virzì,A runaway couple go on an unforgettable journe...,"Helen Mirren,","Donald Sutherland,","Christian McKay,",Janel Moloney,0,1,1,NaN,NaN
9750,9750,Sarajevo - Håbets sang,2006,Drama,7.2,$0.04M,Jasmila Zbanic,A woman and her daughter struggle to make thei...,"Mirjana Karanovic,","Luna Zimic Mijovic,","Leon Lucev,",Kenan Catic,0,1,1,NaN,NaN
9752,9752,April and the Extraordinary World,2015,"Animation, Adventure, Comedy",7.3,$0.29M,"['Christian Desmares, ', 'Franck Ekinci']",It's 1941 but France is trapped in the ninetee...,"Marion Cotillard,","Marc-André Grondin,","Philippe Katerine,",Jean Rochefort,0,1,1,NaN,NaN
9779,9779,The Saddest Music in the World,2003,"Comedy, Musical",7.2,$0.67M,Guy Maddin,A musical of sorts set in Winnipeg during the ...,"Isabella Rossellini,","Mark McKinney,","Maria de Medeiros,",David Fox,0,1,1,NaN,NaN
9782,9782,Kandisha,2008,"Crime, Fantasy, Horror",4.5,NaN,Jérôme Cohen-Olivar,"Shattered by the loss of her child, Nyla Jayde...","Hiam Abbass,","Amal Ayouch,","Khalid Benchagra,",Assaad Bouab,0,1,1,NaN,NaN
9785,9785,Tadpole,2002,"Comedy, Drama, Romance",6.1,$2.88M,Gary Winick,Coming-of-age story about a suave 15-year-old ...,"Sigourney Weaver,","Aaron Stanford,","Kate Mara,",Robert Iler,0,1,1,NaN,NaN
9795,9795,Séraphine,2008,"Biography, Drama",7.4,$0.88M,Martin Provost,Based on the life of French painter Séraphine ...,"Yolande Moreau,","Ulrich Tukur,","Anne Bennent,",Geneviève Mnich,0,1,1,NaN,NaN
9800,9800,Hello I Must Be Going,2012,"Comedy, Drama, Romance",6.2,$0.11M,Todd Louiso,Circumstances force a young divorcée to move b...,"Melanie Lynskey,","Christopher Abbott,","Blythe Danner,",John Rubinstein,0,1,1,NaN,NaN
9804,9804,Décalage horaire,2002,"Comedy, Romance",6.1,$0.54M,Danièle Thompson,A worn-out businessman and a beautician on the...,"Juliette Binoche,","Jean Reno,","Sergi López,",Scali Delpeyrat,0,1,1,NaN,NaN
9805,9805,Irresistible,2006,"Drama, Mystery, Thriller",5.7,NaN,Ann Turner,A wife and mother is consumed by the thought t...,"Susan Sarandon,","Sam Neill,","Emily Blunt,",Charles 'Bud' Tingwell,0,1,1,NaN,NaN
9809,9809,Julia,2008,"Crime, Drama, Thriller",7.0,$0.00M,Erick Zonca,"A woman tries to extort money, using a young b...","Tilda Swinton,","Saul Rubinek,","Kate del Castillo,",Aidan Gould,0,1,1,NaN,NaN
9811,9811,Die Wand,2012,"Drama, Fantasy, Mystery",6.8,$0.04M,Julian Pölsler,A woman inexplicably finds herself cut off fro...,"Martina Gedeck,","Luchs,","Karlheinz Hackl,",Ulrike Beimpold,0,1,1,NaN,NaN
9820,9820,10x10,2018,Thriller,5.0,NaN,Suzi Ewing,A man abducts a flower shop owner and holds he...,"Kelly Reilly,","Luke Evans,","Noel Clarke,",Olivia Chenery,0,1,1,NaN,NaN
9822,9822,Kûki ningyô,2009,"Drama, Fantasy, Romance",6.9,NaN,Hirokazu Koreeda,A life-size blow-up doll develops a soul and f...,"Doona Bae,","Arata Iura,","Itsuji Itao,",Joe Odagiri,0,1,1,NaN,NaN
9832,9832,Nuts,1987,"Drama, Thriller",6.6,$30.95M,Martin Ritt,A high-class call girl accused of murder fight...,"Barbra Streisand,","Richard Dreyfuss,","Maureen Stapleton,",Karl Malden,0,1,1,NaN,NaN
9844,9844,Bro's Before Ho's,2013,Comedy,6.4,NaN,"['Steffen Haars, ', 'Flip Van der Kuil']",Two brothers have their friendship put to the ...,"Sylvia Hoeks,","Raymond Thiry,","Flip Van der Kuil,",Huub Smit,0,1,1,NaN,NaN
9888,9888,Dagen derpå,1986,"Crime, Mystery, Romance",5.9,$25.15M,Sidney Lumet,"A washed up, alcoholic actress who is prone to...","Jane Fonda,","Jeff Bridges,","Raul Julia,",Diane Salinger,0,1,1,NaN,NaN
9916,9916,Rupture,2016,"Horror, Sci-Fi, Thriller",4.8,NaN,Steven Shainberg,A single mom tries to break free from a myster...,"Noomi Rapace,","Michael Chiklis,","Kerry Bishé,",Peter Stormare,0,1,1,NaN,NaN
9940,9940,Sidste udkørsel til Brooklyn,1989,Drama,6.8,$1.73M,Uli Edel,Set in Brooklyn during the 1950s against a bac...,"Jennifer Jason Leigh,","Stephen Lang,","Burt Young,",Peter Dobson,0,1,1,NaN,NaN
9957,9957,Helligtrekongersaften,1996,"Comedy, Drama, Romance",7.2,$0.55M,Trevor Nunn,"Shakespeare's comedy of gender confusion, in w...","Helena Bonham Carter,","Richard E. Grant,","Imogen Stubbs,",Steven Mackintosh,0,1,1,NaN,NaN
9963,9963,Testament,1983,Drama,6.9,$2.04M,Lynne Littman,The life of a suburban American family is scar...,"Jane Alexander,","William Devane,","Rossie Harris,",Roxana Zal,0,1,1,NaN,NaN
9964,9964,Distorted,2018,"Action, Crime, Mystery",5.2,NaN,Rob W. King,"A couple moves to an isolated, modern, safe ap...","Christina Ricci,","Brendan Fletcher,","Vicellous Shannon,",John Cusack,0,1,1,NaN,NaN
9965,9965,Sleepwalking,2008,Drama,6.1,$0.17M,Bill Maher,The drama follows a twelve-year-old girl's str...,"Charlize Theron,","Nick Stahl,","AnnaSophia Robb,",Deborra-Lee Furness,0,1,1,NaN,NaN
9982,9982,Requiem,2006,"Drama, Horror",6.9,$0.01M,Hans-Christian Schmid,An epileptic girl suffers a breakdown during h...,"Sandra Hüller,","Burghart Klaußner,","Imogen Kogge,",Anna Blomeier,0,1,1,NaN,NaN
9999,9999,Mama's Boy,2007,"Comedy, Drama",5.2,NaN,Tim Hamilton,A twenty-nine year-old slacker who lives with ...,"Diane Keaton,","Jon Heder,","Jeff Daniels,",Anna Faris,0,1,1,NaN,NaN